<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat de la Prédiction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="container">
        <h1>Résultat de la Prédiction</h1>
        <div class="result-box">
            <p>Le risque du client est estimé comme :</p>
            <h2>{{ prediction }}</h2>
        </div>
        <a href="/" class="btn">Faire une nouvelle prédiction</a>
    </div>
</body>
</html>
